
<div class="img  animate__animated animate__fadeInDown" >
  <img src="../../assets/logo.png" alt="" width="100px">
  <h2 style="color: #005B2F;">PouletFarm</h2>
</div>

<ion-content class="animate__animated animate__fadeInUp">

<form>
  <p style="text-align: center; "> <strong style="text-align: center; color:noir; font-size: 25px; padding: 5px;">Inscription</strong></p>
<div id="container">


  <div class="form-controle">
    <div>
      <label>Nom Complet</label>
      <input  type="text" placeholder="Ex: Kaly Diallo " name="nom" >  
    </div>  
    <div>
      <label>Email</label>
      <input  type="email" placeholder="Ex: kaly@gmail.com" name="email">  
    </div>      
    <div>
      <label>Mot de passe</label>
      <input type="password" placeholder="******************" name="mdp"> 
    </div>
    <div>
      <label>Confirmer Mot de passe</label>
      <input type="password" placeholder="******************" name="rmdp"> 
    </div>
    <input type="submit" id="a" style="color: #fff !important;" value=" S'inscrire ">
    <h5 style="text-align: center;">J'ai déjà un compte, <a routerLink="connexion" style="color: #005B2F !important; font-weight: bold; padding: 0 10px; margin-left: 10px; border-radius: 5px;">Se connecter</a></h5>
  </div>
</div>
</form>

</ion-content>